.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  display: inline-block;
  padding: 18px 22px 36px 22px;
  margin: 10px;
  background:#5482dd;
  border: 1px #5482dd solid;
  width: 550px;
  font-size: 28px;
  line-height: 28px;
  color: #f5faf8;


}
.box > button{
  padding: 10px 40px;
  background: #747575;
  border: 1px solid #d6d8d7;
  color: #f5faf8;
  font-size: 32px;
  line-height: 32px;
}